<div id="container">

	<%= partial "views/partials/intro" %>

	<%= partial "views/partials/akqa" %>

	<%= partial "views/partials/aau" %>

	<%= partial "views/partials/personal" %>

	<%= partial "views/partials/about" %>

	<div class="clear"></div>

</div>