<div id="container">

	<%= partial "views/partials/intro" %>

	<%= partial "views/partials/featured" %>

	<%= partial "views/partials/recent" %>

	<%= partial "views/partials/archive" %>

	<%= partial "views/partials/about" %>

	<div class="clear"></div>

</div>