<% p = locals[:project] %>

<%= partial "views/header" %>

<div id="project_wrapper">
	<div id="project">
		<div class="gallery_desc">
			<h3 class="margintop10"><%= p[:category] %></h3>

			<h3 class="margintop20"><strong><%= p[:title] %></strong><br/>
			<%= p[:type] %></h3>

			<ul class="margintop20">
				<% p[:awards].each do |d| %>
					<li>
						<%= d['award_name'] %>
					</li>
				<% end %>
			</ul>

			<h3>Client: <%= p[:client] %></h3>

			<p class="margintop10"><%= p[:description] %></p>

			<ul class="margintop20">
				<% p[:tools].each do |t| %>
					<li>
						<%= t['tool_name'] %>
					</li>
				<% end %>
			</ul>

			<p class="margintop20"><a href="<%= p[:next_project] %>.html"  >Next Project</a></p>
		</div>

		<div class="gallery-container">
			<div class="gallery-image margintop20">
				<%= p[:video] %>
				<% p[:media].each do |m| %>
					<p><%= m['media_name'] %></p>
					<%= image_tag m['media_link'], :alt => m['media_name'] %>
				<% end %>
			</div>

			<div class="clear"></div>
		</div>
	</div>
</div>

<!-- <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script> -->
<!-- <script type="text/javascript" src="../js/modernizr-2.5.3.js"></script> -->
<!-- <script type="text/javascript" src="../js/fitvids.js"></script> -->


<script type="text/javascript">
//  $(document).ready(function(){
//     // Target your .container, .wrapper, .post, etc.
//     $(".gallery_video").fitVids();
//   });


// $(window).load(function() {



// var windowWidth = $(window).width();
// var imageWidth = $(".gallery_image>img").width();


// if ( windowWidth >= 1300 ){
// $(".project_wrapper").css('width', imageWidth+300);
// };

// function setSizes() {
// var projectWidth = $(".project_wrapper").width();
// $(".gallery_image").css('width', projectWidth-250);
// }

// var projectWidth = $(".project_wrapper").width();
// $(".gallery_image").css('width', projectWidth-250);

// $(window).resize(function() { setSizes(); });


// });

</script>
</body>
</html>
