<div id="works-personal" class="module">
	<div class="featured" id="web-interactive">
			<h3>ARCHIVE</h3>
	</div>
	<% data.projects.archive.each do |p| %>
		<section id="<%= p[:name] %>" class="projects-header">
			<div class="left category_caption radiusleft">
				<a href="works/<%= p[:name] %>.html">
					<p class="project-header-desc">
						<strong><%= p[:title] %></strong><br/>
						<%= p[:type] %>
					</p>
				</a>
			</div>
			<div class="project-header-image">
				<a href="works/<%= p[:name] %>.html">
					<img class="radiusright" src="assets/images/gallery/<%= p[:banner_link] %>.jpg">
				</a>
			</div>
		</section>
	<% end %>
	<section id="dts" class="projects-header">
		<div class="left category_caption radiusleft">
			<a href="works/dts.php">
				<p class="project-header-desc">
					<strong>DTS Theater</strong><br/>
					Motion Teaser
				</p>
			</a>
		</div>
		<div class="project-header-image">
			<a href="works/dts.html">
				<img class="radiusright" src="assets/images/gallery/dts/dts.jpg">
			</a>
		</div>
	</section>
	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/workshop.html"><strong>The WORKSHOP Burgers</strong><br/>
      				 Website</a>
				</p>
			</div>
			<a class="left" href="works/workshop.html"><img class="radiusright" src="assets/images/gallery/workshop/workshop.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/venus.html"><strong>The Birth of Venus</strong><br/>
        			Photo Book</a>
				</p>
			</div>
			<a class="left" href="works/venus.html"><img class="radiusright" src="assets/images/gallery/photo/venus.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/overseas.html"><strong>The Overseas</strong><br/>
        			Photography Compilation</a>
				</p>
			</div>
			<a class="left" href="works/overseas.html"><img class="radiusright" src="assets/images/gallery/overseas/overseas.jpg"></a>
		</div>
	</section>

	<section>
		<div class="projects-header">
			<div class="left category_caption radiusleft">
				<p class="project-header-desc">
					<a href="works/homeland.html"><strong>Tanah Air (The Homeland)</strong><br/>
        			Photography Compilation</a>
				</p>
			</div>
			<a class="left" href="works/homeland.html"><img class="radiusright" src="assets/images/gallery/homeland/homeland.jpg"></a>
		</div>
	</section>
</div>