<div id="works-akqa" class="module">
	<div class="featured" id="web-interactive">
			<h3>FEATURED WORKS</h3>
	</div>

	<% data.projects.featured.each do |p| %>
		<section id="<%= p[:name] %>" class="projects-header">
			<div class="left category-caption radiusleft">
				<a href="works/<%= p[:name] %>.html">
					<p class="project-header-desc">
						<strong><%= p[:title] %></strong><br/>
						<%= p[:type] %>
					</p>
				</a>
			</div>
			<div class="project-header-image">
				<a href="works/<%= p[:name] %>.html">
					<img class="radiusright" src="assets/images/gallery/<%= p[:banner_link] %>.jpg">
				</a>
			</div>
		</section>
	<% end %>
</div>